#page-container {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

.icon-right {
  font-size: 1.1rem;
  position: absolute;
  top: 16px;
  right: 0;
}

.icon-right:hover {
  cursor: pointer;
}

.bigger {
  font-size: 1rem;
}

.collapse-div {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .ingredients {
    max-width: 60%;
    margin: 0 auto;
  }
  .change-mode {
    max-width: 60%;
    margin: 0 auto;
  }
  .calc-ing {
    max-width: 60%;
    margin: 0 auto;
  }
  .header {
    max-width: 80%;
    margin: 0 auto;
  }
}
